.authorization-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout-form {
  margin-top: 10px;
}

.slcdc_button {
  margin-top: 10px;
}

td {
  padding: 2px;
}

.slcdc_panel
{
  margin-bottom: 5px;
  margin-top: 5px;
}

.slcdc_datatable
{
  margin-bottom: 5px;
  margin-top: 5px;
}

.slcdc_datatable_element_small
{
  font-size: 1em;
}

.ui-widget
{
  font-size: 0.8em;
}

.panelGridColumnAtTop td
{
  vertical-align: center;
}

.fullWidthComponent
{
  width: 162px;
}
