.panel
{
    margin-bottom: 20px;
}

.bar
{
    margin-bottom: 5px;
}

/*.ui-widget {
    font-family: Lucida Sans, Arial, sans-serif;
}*/

.checkPut
{
    color: green;
    font-size: 12px;
    font-weight: bold;
    /*font-family: 'Segoe UI', Arial, sans-serif;*/
}

.pendingCheckPut
{
    color: orange;
    font-size: 12px;
    font-weight: bold;
    /*font-family: 'Segoe UI', Arial, sans-serif;*/
}

.notCheckPut
{
    color: red;
    font-size: 12px;
    font-weight: bold;
    /*font-family: 'Segoe UI', Arial, sans-serif;*/
}

.smallFont
{
    font-size: 12px;
    /*font-family: 'Segoe UI', Arial, sans-serif;*/
}

.green .ui-progressbar-value
{
    background-image: url("/scp/images/progressGreen.png");
}

.red .ui-progressbar-value
{
    background-image: url("/scp/images/progressRed.png");
}

.borderRed
{
    border-color: red !important;
}

.required
{
   background-color: lightgoldenrodyellow !important;
}

.toggleButton
{
    box-shadow: 0px 0px 5px 0px #2E6E9E !important;
}

.emptyField
{
    background-color: #FF9494 !important;
}

.ui-growl
{
    left:20px;
}

.ui-selectonemenu-label {
   background-color: lightgoldenrodyellow !important;
}

.iconOptionGrid .ui-widget-content
{
    border: none !important;
}

.utiEditExtender {
    width: 100%;
}
.utiEditDataGrid .ui-widget-content {
    border: none;
}

.slcdc_panel .ui-widget-content {
    border: none;
}
