<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >

<header>
</header>

<body>
<h:form>
    <p:growl id="messages"/>

    <p:menubar>
        <p:submenu label="Lists">
            <p:menuitem value="Listas" url="lists.xhtml" />
            <p:menuitem value="Mis Listas" url="my_lists.xhtml" />
        </p:submenu>

        <p:menuitem value="Logout" url="logout" />

        <f:facet name="options">
            <p:inputText style="margin:1px 10px 1px 1px;" placeholder="Search"/>
            <h:outputText value="#{headerViewBean.user.username}" padding="5px"/>
        </f:facet>
    </p:menubar>

</h:form>
</body>

</html>