<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions" >
<h:head>
    <title>Lists</title>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
</h:head>

<h:body>
    <ui:include src="header.xhtml"/>

    <h:form id="form">
        <p:panel header="Detalles de la lista" class="slcdc_panel">
            <p:dataGrid class="slcdc_panel" id="list_table" var="lista" value="#{listViewBean.getList(param['listId'])}">
                <ui:include src="listGeneralInfo.xhtml"/>

                <p:commandButton value="Guardar" class="slcdc_button" action="#{listViewBean.editAction()}" type="submit" rendered="#{listViewBean.checkEditContainerOperator()}" >
                    <f:param name="listId" value="#{param['listId']}"/>
                    <p:confirm header="Alerta" message="¿Estás seguro? El ETD ha expirado" icon="pi pi-exclamation-triangle" rendered="#{listViewBean.checkEditETD()}" />
                </p:commandButton>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton class="slcdc_button" value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                    <p:commandButton class="slcdc_button" value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </p:confirmDialog>
            </p:dataGrid>
        </p:panel>
    </h:form>

    <h:form id="listForm">

        <p:panel header="Detalles de las UTIs">

            <p:dataTable id="utis"
                         var="uti"
                         value="#{listUtisViewBean.utis}"
                         sortBy="#{uti.id}"
                         widgetVar="utisTable"
                         class="slcdc_datatable"
                         filteredValue="#{listUtisViewBean.utisFiltered}">
                <f:facet name="header">
                    <p:commandButton id="toggler" type="button" value="columnas..." class="slcdc_button" icon="ui-icon-circle-arrow-s" />
                    <p:columnToggler datasource="utis" trigger="toggler"/>
                </f:facet>

                <p:column filterBy="#{uti.id}" filterMatchMode="contains" headerText="Id" sortBy="#{uti.id}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.id}" class="slcdc_datatable_element_small" />
                </p:column>

                <p:column filterBy="#{uti.type}" filterMatchMode="contains" headerText="Type" sortBy="#{uti.type}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.type}" class="slcdc_datatable_element_small" />
                </p:column>

                <p:column filterBy="#{uti.iso6364_code}" filterMatchMode="contains" headerText="Código de ISO 6364" visible="false" sortBy="#{uti.iso6364_code}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.iso6364_code}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.iso6364_compliance}" filterMatchMode="contains" headerText="Compliance de ISO 6364" visible="false" sortBy="#{uti.iso6364_compliance}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.iso6364_compliance}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.length}" filterMatchMode="contains" headerText="Longitud" sortBy="#{uti.length}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.length}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.height}" filterMatchMode="contains" headerText="Altura" sortBy="#{uti.height}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.height}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.width}" filterMatchMode="contains" headerText="Anchura" sortBy="#{uti.width}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.width}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.plate}" filterMatchMode="contains" headerText="Matrícula" sortBy="#{uti.plate}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.plate}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.state}" filterMatchMode="contains" headerText="Estado UTI" visible="false" sortBy="#{uti.state}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.state}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.circuit}" filterMatchMode="contains" headerText="Circuito" visible="false" sortBy="#{uti.circuit}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.circuit}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.booking}" filterMatchMode="contains" headerText="Booking" visible="false" sortBy="#{uti.booking}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.booking}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.bill_of_lading}" filterMatchMode="contains" headerText="Bill of Lading" visible="false" sortBy="#{uti.bill_of_lading}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.bill_of_lading}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.port}" filterMatchMode="contains" headerText="Puerto" sortBy="#{uti.port}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.port}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.nextPort}" filterMatchMode="contains" headerText="Puerto siguiente" visible="false" sortBy="#{uti.nextPort}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.nextPort}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.gross_weight}" filterMatchMode="contains" headerText="Peso Bruto" visible="false" sortBy="#{uti.gross_weight}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.gross_weight}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.verified_weight}" filterMatchMode="contains" headerText="Peso verificado" visible="false" sortBy="#{uti.verified_weight}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.verified_weight}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.extra_height}" filterMatchMode="contains" headerText="Altura extra" visible="false" sortBy="#{uti.extra_height}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.extra_height}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.extra_left_width}" filterMatchMode="contains" headerText="Anchura extra izquierda" visible="false" sortBy="#{uti.extra_left_width}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.extra_left_width}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.extra_right_width}" filterMatchMode="contains" headerText="Anchura extra derecha" visible="false" sortBy="#{uti.extra_right_width}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.extra_right_width}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.extra_front_height}" filterMatchMode="contains" headerText="Altura extra delante" visible="false" sortBy="#{uti.extra_front_height}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.extra_front_height}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.extra_back_length}" filterMatchMode="contains" headerText="Longitud extra detrás" visible="false" sortBy="#{uti.extra_back_length}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.extra_back_length}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.goods_description}" filterMatchMode="contains" headerText="Descripción de bienes" visible="false" sortBy="#{uti.goods_description}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.goods_description}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.goods_remarks}" filterMatchMode="contains" headerText="Observaciones de bienes" visible="false" sortBy="#{uti.goods_remarks}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.goods_remarks}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.instructions}" filterMatchMode="contains" headerText="Instrucciones" sortBy="#{uti.instructions}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.instructions}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.instructions_remarks}" filterMatchMode="contains" headerText="Observaciones" sortBy="#{uti.instructions_remarks}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.instructions_remarks}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.shipping_company}" filterMatchMode="contains" headerText="Compañia de envio" visible="false" sortBy="#{uti.shipping_company}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.shipping_company}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.shipping_service}" filterMatchMode="contains" headerText="Servicio de envío" visible="false" sortBy="#{uti.shipping_service}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.shipping_service}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.soc}" filterMatchMode="contains" headerText="SOC" visible="false" sortBy="#{uti.soc}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.soc}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.operator}" filterMatchMode="contains" headerText="Operador" visible="false" sortBy="#{uti.operator}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.operator}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.transshipment_call}" filterMatchMode="contains" headerText="Trans Shipment Call" visible="false" sortBy="#{uti.transshipment_call}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.transshipment_call}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column filterBy="#{uti.refeer_id.refeer_id}" filterMatchMode="contains" headerText="Refeer" sortBy="#{uti.refeer_id}" class="slcdc_datatable_element_small">
                    <h:outputText value="#{uti.refeer_id.refeer_id}" class="slcdc_datatable_element_small"/>
                </p:column>

                <p:column headerText="Editar" class="slcdc_datatable_element_small">
                    <h:link value="Editar" outcome="utiDetails" class="slcdc_datatable_element_small">
                        <f:param name="id" value="#{uti.id}"/>
                    </h:link>
                </p:column>

                <p:column headerText="Eliminar" class="slcdc_datatable_element_small">
                    <p:commandButton value="Eliminar" action="#{utiViewBean.deleteAction(uti.id)}" outcome="listEdit" class="slcdc_datatable_element_small" >
                        <f:param name="listId" value="#{param['listId']}" class="slcdc_datatable_element_small"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>

            <p:button outcome="utiDetails" class="slcdc_button" value="Añadir UTI">
                <f:param name="listId" value="#{listUtisViewBean.listId}" />
            </p:button>
        </p:panel>
    </h:form>

    <h:form id="updateFileForm" enctype="multipart/form-data">
        <p:growl id="messages" showDetail="true" />

        <br/>
        <p:fileUpload label="Seleccionar" uploadLabel="Subir" cancelLabel="Cancelar"
                      fileUploadListener="#{fileUploadView.handleFileUpload}" mode="advanced" dragDropSupport="false"
                      update="messages" sizeLimit="100000" fileLimit="3" allowTypes="/(\.|\/)(csv)$/">
            <f:attribute name="listId" value="#{listUtisViewBean.listId}" />
        </p:fileUpload>
    </h:form>

</h:body>
</html>