<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Lists</title>
        <link href="css/main.css" type="text/css" rel="stylesheet"/>
    </h:head>

    <h:body>
        <ui:include src="${headerViewBean.headerURL}"/>

        <p:panel header="Resumen de listas" class="slcdc_panel">
            <h:panelGrid columns="1">
                <p:row>
                    <h:outputText value="Listas en Preparación: #{listViewBean.mainSummaryBeanData.preparingList}" />
                </p:row>
                <p:row>
                    <h:outputText value="Listas en Cerradas: #{listViewBean.mainSummaryBeanData.closedLists}" />
                </p:row>
            </h:panelGrid>
        </p:panel>

        <h:form>
            <p:dataTable id="lists" var="list" value="#{listViewBean.lists}" stickyHeader="true" class="slcdc_datatable" sortBy="#{list.id}">
                <f:facet name="header">
                    <h:outputText value="Listas" style="float: left;" />
                    <p:commandButton id="toggler" type="button" value="cambia valores a mostrar" class="slcdc_button" icon="ui-icon-circle-arrow-s" />
                    <p:columnToggler datasource="lists" trigger="toggler">
                        <p:ajax event="toggle" listener="#{listViewBean.onToggle}" />
                    </p:columnToggler>
                </f:facet>

                <p:column headerText="ID" visible="#{listViewBean.visibleColumns[0]}">
                    <h:outputText value="#{list.id}"/>
                </p:column>

                <p:column headerText="Circuit" visible="#{listViewBean.visibleColumns[1]}">
                    <h:outputText value="#{list.circuit}" />
                </p:column>

                <p:column headerText="Type" visible="#{listViewBean.visibleColumns[2]}">
                    <h:outputText value="#{list.type}"/>
                </p:column>

                <p:column headerText="Operator" visible="#{listViewBean.visibleColumns[3]}">
                    <h:outputText value="#{list.operator}"/>
                </p:column>

                <p:column headerText="Port" visible="#{listViewBean.visibleColumns[4]}">
                    <h:outputText value="#{list.port}"/>
                </p:column>

                <p:column headerText="Terminal" visible="#{listViewBean.visibleColumns[5]}">
                    <h:outputText value="#{list.terminal}"/>
                </p:column>

                <p:column headerText="Created Date" visible="#{listViewBean.visibleColumns[6]}">
                    <h:outputText value="#{list.createdDate}"/>
                </p:column>

                <p:column headerText="Updated Date" visible="#{listViewBean.visibleColumns[7]}">
                    <h:outputText value="#{list.updatedDate}"/>
                </p:column>

                <p:column headerText="Closing Date" visible="#{listViewBean.visibleColumns[8]}">
                    <h:outputText value="#{list.closingDate}"/>
                </p:column>

                <p:column headerText="Version" visible="#{listViewBean.visibleColumns[9]}">
                    <h:outputText value="#{list.version}"/>
                </p:column>

                <p:column headerText="State" visible="#{listViewBean.visibleColumns[10]}">
                    <h:outputText value="#{list.state}"/>
                </p:column>

                <p:column headerText="Created By" visible="#{listViewBean.visibleColumns[11]}">
                    <h:outputText value="#{list.username}"/>
                </p:column>

                <p:column headerText="Visit Number" visible="#{listViewBean.visibleColumns[12]}">
                    <h:outputText value="#{list.visitNumber}"/>
                </p:column>

                <p:column  headerText="Editar" visible="#{listViewBean.visibleColumns[13]}">
                    <h:link value="Editar" outcome="listEdit">
                        <f:param name="listId" value="#{list.id}" />
                    </h:link>
                </p:column>

                <p:column headerText="Eliminar" visible="#{listViewBean.visibleColumns[14]}">
                    <h:commandButton value="Eliminar" action="#{listViewBean.deleteAction(list.id)}" rendered="#{listViewBean.checkAddList()}" outcome="lists" />
                </p:column>


            </p:dataTable>
        </h:form>

        <p:button class="slcdc_button" value="Nueva lista" rendered="#{listViewBean.checkAddList()}" outcome="listAdd" />

    </h:body>
</html>