<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:p="http://primefaces.org/ui"
          xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:panelGrid columns="2" layout="grid" style="margin-bottom:20px">
            <h:outputText value="Estancia: " />
            <p:selectOneMenu id="select_stop" value="#{listViewBean.stop_a_buscar}" disabled="#{listViewBean.isViewBeanInEditMode()}" styleClass="fullWidthComponent">
                <p:ajax listener="#{listViewBean.cambiaSelect}" update=":form:list_table" />
                <f:selectItem itemLabel="Estancia..." itemValue="" />
                <f:selectItems value="#{listViewBean.stops}" var="stop" itemLabel="#{stop.stopStringRepresentation}" itemValue="#{stop.stopId}" disabled="#{listViewBean.isViewBeanInEditMode()}"/>
            </p:selectOneMenu>

            <h:outputText value="Circuito: "/>
            <p:selectOneMenu id="circuit" value="#{lista.circuit}" unselectable="true" disabled="#{listViewBean.isViewBeanInEditMode()}" styleClass="fullWidthComponent">
                <f:selectItems value="#{data.tiposLista}"/>
            </p:selectOneMenu>

            <h:outputText value="Operator: "/>
            <p:inputText id="operator" value="#{lista.operator}" styleClass="fullWidthComponent"/>
    </h:panelGrid>

    <p:panelGrid columns="5" layout="grid" styleClass="panelGridColumnAtTop"  >
        <h:panelGrid columns="2" layout="grid">
            <f:facet name="header">
                <h:outputText value="List" styleClass="panelGridColumnHeader"/>
                <p:separator/>
            </f:facet>
            <h:outputText value="Terminal: " padding="100"/>
            <p:inputText id="terminal" value="#{lista.terminal}" styleClass="fullWidthComponent"/>

            <h:outputText value="Created date: "/>
            <p:calendar value="#{lista.createdDate}" disabled="true" styleClass="fullWidthComponent"/>

            <h:outputText value="Updated date: "/>
            <p:calendar value="#{lista.updatedDate}" disabled="true" styleClass="fullWidthComponent"/>

            <h:outputText value="Closing Date: "/>
            <p:calendar value="#{lista.closingDate}" disabled="true" styleClass="fullWidthComponent"/>

            <h:outputText value="Version: "/>
            <p:inputText id="version" value="#{lista.version}" disabled="true" styleClass="fullWidthComponent"/>

            <h:outputText value="State: "/>
            <p:selectOneMenu id="state" value="#{lista.state}" unselectable="true" styleClass="fullWidthComponent">
                <f:selectItems value="#{data.estadosLista}"/>
            </p:selectOneMenu>

            <h:outputText value="Tipo Lista: "/>
            <p:selectOneMenu id="type" value="#{lista.type}" unselectable="true" styleClass="fullWidthComponent">
                <f:selectItems value="#{data.tiposListaConsolidado}"/>
            </p:selectOneMenu>

            <h:outputText value="Port: "/>
            <p:inputText id="port" value="#{lista.port}" disabled="true" styleClass="fullWidthComponent"/>
        </h:panelGrid>

        <h:panelGrid id="visit" columns="2" layout="grid">
            <f:facet name="header">
                <h:outputText value="Visit" styleClass="panelGridColumnHeader"/>
                <p:separator/>
            </f:facet>
            <h:outputText value="Código del siguiente puerto: "/>
            <p:inputText id="nextPort_code" value="#{listViewBean.selectedStop.visitNextPortCode}" disabled="true" />

            <h:outputText value="Visit ETA: "/>
            <p:calendar id="visit_eta"  value="#{listViewBean.selectedStop.visitEta}" disabled="true" />

            <h:outputText value="Visit ETD: "/>
            <p:calendar id="visit_etd"  value="#{listViewBean.selectedStop.visitEtd}" disabled="true" />

            <h:outputText value="Visit ATA: "/>
            <p:calendar id="visit_ata"  value="#{listViewBean.selectedStop.visitAta}" disabled="true" />

            <h:outputText value="Visit ATD: "/>
            <p:calendar id="visit_atd"  value="#{listViewBean.selectedStop.visitAtd}" disabled="true" />

            <h:outputText value="Visit Status ID: "/>
            <p:inputText id="visit_status_id" value="#{listViewBean.selectedStop.visitStatusId}" disabled="true" />

            <h:outputText value="Visit number: "/>
            <p:inputText id="visit_number" value="#{listViewBean.selectedStop.visitNumber}" disabled="true" />
        </h:panelGrid>

        <h:panelGrid id="stop" columns="2" layout="grid">
            <f:facet name="header">
                <h:outputText value="Estancia" styleClass="panelGridColumnHeader"/>
                <p:separator/>
            </f:facet>
            <h:outputText value="Stop ETA: "/>
            <p:calendar id="stop_eta"  value="#{listViewBean.selectedStop.stopEta}" disabled="true" />

            <h:outputText value="Stop ETD: "/>
            <p:calendar id="stop_etd"  value="#{listViewBean.selectedStop.stopEtd}" disabled="true" />

            <h:outputText value="Stop ATA: "/>
            <p:calendar id="stop_ata"  value="#{listViewBean.selectedStop.stopAta}" disabled="true" />

            <h:outputText value="Stop ATD: "/>
            <p:calendar id="stop_atd"  value="#{listViewBean.selectedStop.stopAtd}" disabled="true" />
        </h:panelGrid>

        <h:panelGrid id="ship" columns="2" layout="grid">
            <f:facet name="header">
                <h:outputText value="Ship" styleClass="panelGridColumnHeader"/>
                <p:separator/>
            </f:facet>
            <h:outputText value="Call Sign: "/>
            <p:inputText id="call_sign" value="#{listViewBean.selectedStop.shipCallSign}" disabled="true"/>

            <h:outputText value="Flag: "/>
            <p:inputText id="flag" value="#{listViewBean.selectedStop.shipFlag}" disabled="true" />

            <h:outputText value="IMO Code: "/>
            <p:inputText id="imo_code" value="#{listViewBean.selectedStop.shipImo}" disabled="true" />

            <h:outputText value="MMSI: "/>
            <p:inputText id="mmsi" value="#{listViewBean.selectedStop.shipMmsi}" disabled="true" />

            <h:outputText value="Nombre del barco: "/>
            <p:inputText id="ship_name" value="#{listViewBean.selectedStop.shipName}" disabled="true" />
        </h:panelGrid>

        <h:panelGrid id="agent" columns="2" layout="grid">
            <f:facet name="header">
                <h:outputText value="Agent" styleClass="panelGridColumnHeader"/>
                <p:separator/>
            </f:facet>
            <h:outputText value="CIF del agente: "/>
            <p:inputText id="agent_cif" value="#{listViewBean.selectedStop.agentCif}" disabled="true" />

            <h:outputText value="Nombre del agente: "/>
            <p:inputText id="agent_name" value="#{listViewBean.selectedStop.agentName}" disabled="true" />
        </h:panelGrid>

    </p:panelGrid>
</html>