<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <h:head>
        <title>Lists Add - SLCDC</title>
        <link href="css/main.css" type="text/css" rel="stylesheet"/>
        <link href="css/style.css" type="text/css" rel="stylesheet"/>
    </h:head>

    <h:body>
            <ui:include src="header.xhtml"/>
            <p:messages id="messages" autoupdate="true" />

            <h:form id="form">
                <p:panel header="Nueva Lista" class="slcdc_panel">
                    <p:dataGrid class="slcdc_panel" id="list_table" var="lista" value="#{listViewBean.selected_list}">
                        <ui:include src="listGeneralInfo.xhtml"/>

                        <p:commandButton class="slcdc_button" value="Crear" action="#{listViewBean.addAction}" type="submit" />
                    </p:dataGrid>
                </p:panel>
            </h:form>

    </h:body>
</html>