<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <title>Utis</title>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
</h:head>
<h:body>
    <ui:include src="header.xhtml"/>
    <h:form id="utis-form">

        <p:panel class="slcdc_panel" header="Detalles de la UTI">
            <p:panelGrid columns="5" layout="grid">
                <h:panelGrid columns="2" layout="grid">
                    <h:outputText value="ISO 6346: "/>
                    <p:selectOneRadio id="iso6364_compliance" value="#{utiViewBean.uti_edit.iso6364_compliance}" var="iso" unselectable="false">
                        <f:selectItems value="#{data.afirmaciones}"/>
                        <p:ajax update="@form" />
                    </p:selectOneRadio>

                    <h:outputText rendered="#{utiViewBean.uti_edit.iso6364_compliance == data.afirmaciones[0]}" value="Código de ISO 6364: "/>
                    <p:inputNumber id="iso6364_code" rendered="#{utiViewBean.uti_edit.iso6364_compliance == data.afirmaciones[0]}" value="#{utiViewBean.uti_edit.iso6364_code}"/>

                    <h:outputText value="Matrícula: "/>
                    <p:inputText id="plate" value="#{utiViewBean.uti_edit.plate}"/>

                    <h:outputText value="Estado de UTI: "/>
                    <p:selectOneMenu id="state" value="#{utiViewBean.uti_edit.state}" unselectable="true">
                        <f:selectItems value="#{data.estadosUti}"/>
                    </p:selectOneMenu>

                    <h:outputText value="Circuito: "/>
                    <p:selectOneMenu id="circuit" value="#{utiViewBean.uti_edit.circuit}" unselectable="true">
                        <f:selectItems value="#{data.circuitosUti}"/>
                    </p:selectOneMenu>

                    <h:outputText value="Booking: "/>
                    <p:inputText id="booking" value="#{utiViewBean.uti_edit.booking}"/>

                    <h:outputText value="Bill of lading: "/>
                    <p:inputText id="bill_of_lading" value="#{utiViewBean.uti_edit.bill_of_lading}"/>

                    <h:outputText value="Peso Bruto: "/>
                    <p:inputNumber id="gross_weight" value="#{utiViewBean.uti_edit.gross_weight}"/>

                    <h:outputText value="Peso Verificado: "/>
                    <p:inputNumber id="verified_weight" value="#{utiViewBean.uti_edit.verified_weight}"/>

                    <h:outputText value="Puerto Carga: "/>
                    <p:inputText id="port" value="#{utiViewBean.uti_edit.port}"/>

                    <h:outputText value="Siguiente puerto: "/>
                    <p:inputText id="nextPort" value="#{utiViewBean.uti_edit.nextPort}"/>
                </h:panelGrid>

                <h:panelGrid columns="2" layout="grid">
                    <h:outputText value="SOC: "/>
                    <p:selectOneRadio id="soc" value="#{utiViewBean.uti_edit.soc}" unselectable="true">
                        <f:selectItems value="#{data.afirmaciones}"/>
                    </p:selectOneRadio>

                    <h:outputText value="Ext Alto: "/>
                    <p:inputNumber id="extra_height" value="#{utiViewBean.uti_edit.extra_height}"/>

                    <h:outputText value="Ext Ancho Izq: "/>
                    <p:inputNumber id="extra_left_width" value="#{utiViewBean.uti_edit.extra_left_width}"/>

                    <h:outputText value="Ext Ancho dch: "/>
                    <p:inputNumber id="extra_right_width" value="#{utiViewBean.uti_edit.extra_right_width}"/>

                    <h:outputText value="Ext Largo Ant: "/>
                    <p:inputNumber id="extra_front_height" value="#{utiViewBean.uti_edit.extra_front_height}"/>

                    <h:outputText value="Ext Largo Pos: "/>
                    <p:inputNumber id="extra_back_length" value="#{utiViewBean.uti_edit.extra_back_length}"/>

                    <h:outputText value="Tamaño / TIPO: "/>
                    <p:selectOneMenu id="type" value="#{utiViewBean.uti_edit.type}" unselectable="true">
                        <f:selectItems value="#{data.getTiposTransporte()}"/>
                    </p:selectOneMenu>

                    <h:outputText value="Largo: "/>
                    <p:inputNumber id="length" value="#{utiViewBean.uti_edit.length}"/>

                    <h:outputText value="Ancho: "/>
                    <p:inputNumber id="width" value="#{utiViewBean.uti_edit.width}"/>

                    <h:outputText value="Alto: "/>
                    <p:inputNumber id="height" value="#{utiViewBean.uti_edit.height}"/>
                </h:panelGrid>

                <h:panelGrid columns="2" layout="grid">
                    <h:outputText value="Desc. Naviera: "/>
                    <p:inputText id="goods_description" value="#{utiViewBean.uti_edit.goods_description}"/>

                    <h:outputText value="Observaciones: "/>
                    <p:inputText id="goods_remarks" value="#{utiViewBean.uti_edit.goods_remarks}"/>

                    <h:outputText value="Naviera: "/>
                    <p:inputText id="shipping_company" value="#{utiViewBean.uti_edit.shipping_company}"/>

                    <h:outputText value="Ser. Naviera: "/>
                    <p:inputText id="shipping_service" value="#{utiViewBean.uti_edit.shipping_service}"/>

                    <h:outputText value="Esc. Trasbord.: "/>
                    <p:inputNumber id="transshipment_call" value="#{utiViewBean.uti_edit.transshipment_call}"/>

                    <h:outputText value="Instrucciones: "/>
                    <p:inputText id="instructions" value="#{utiViewBean.uti_edit.instructions}"/>

                    <h:outputText value="Observaciones: "/>
                    <p:inputText id="instructions_remarks" value="#{utiViewBean.uti_edit.instructions_remarks}"/>

                    <h:outputText value="Clase: "/>
                    <p:inputText id="type_dangerous_good" value="#{utiViewBean.uti_edit.type_dangerous_good}"/>

                    <h:outputText value="Packing Group: "/>
                    <p:selectOneMenu id="packing_type" value="#{utiViewBean.uti_edit.packing_type}" unselectable="true">
                        <f:selectItems value="#{data.getGruposSustancia()}"/>
                    </p:selectOneMenu>

                    <h:outputText value="Des. Técnica: "/>
                    <p:inputText id="description" value="#{utiViewBean.uti_edit.description}"/>
                </h:panelGrid>

                <h:panelGrid columns="2" layout="grid">

                    <h:outputText value="Oper. UTI: "/>
                    <p:inputText id="operator" value="#{utiViewBean.uti_edit.operator}"/>

                    <h:outputText value="Refeer Activo: "/>
                    <p:selectOneRadio id="active" value="#{utiViewBean.uti_edit.active}" unselectable="true">
                        <f:selectItems value="#{data.afirmaciones}"/>
                    </p:selectOneRadio>

                    <h:outputText value="Conectar terminal: "/>
                    <p:selectOneRadio id="terminal_connected" value="#{utiViewBean.uti_edit.terminal_connected}" unselectable="true">
                        <f:selectItems value="#{data.afirmaciones}"/>
                    </p:selectOneRadio>

                    <h:outputText value="Conectar buque: "/>
                    <p:selectOneRadio id="ship_connected" value="#{utiViewBean.uti_edit.ship_connected}" unselectable="true">
                        <f:selectItems value="#{data.afirmaciones}"/>
                    </p:selectOneRadio>

                    <h:outputText value="Temp. Transporte: "/>
                    <p:inputNumber id="transport_temperature" value="#{utiViewBean.uti_edit.transport_temperature}"/>

                    <h:outputText value="Temp. Máxima: "/>
                    <p:inputNumber id="max_temperature" value="#{utiViewBean.uti_edit.max_temperature}"/>

                    <h:outputText value="Temp. Mínima: "/>
                    <p:inputNumber id="min_temperature" value="#{utiViewBean.uti_edit.min_temperature}"/>

                    <h:outputText value="Temperatura UM: "/>
                    <p:selectOneRadio id="um_temperature" value="#{utiViewBean.uti_edit.um_temperature}" unselectable="true">
                        <f:selectItems value="#{data.temperaturas}"/>
                    </p:selectOneRadio>

                    <h:outputText value="Generador diesel: "/>
                    <p:selectOneRadio id="diesel_generator" value="#{utiViewBean.uti_edit.diesel_generator}" unselectable="true">
                        <f:selectItems value="#{data.afirmaciones}"/>
                    </p:selectOneRadio>
                </h:panelGrid>

                <h:panelGrid columns="2" layout="grid">
                    <h:outputText value="Est. Rej. Ventilación: "/>
                    <p:selectOneMenu id="vent_grilles_state" value="#{utiViewBean.uti_edit.vent_grilles_state}" unselectable="true">
                        <f:selectItems value="#{data.aperturas}"/>
                    </p:selectOneMenu>

                    <h:outputText value="Apertura Rejillas: "/>
                    <p:inputNumber id="vent_grilles_opening" value="#{utiViewBean.uti_edit.vent_grilles_opening}"/>

                    <h:outputText value="Flujo Aire: "/>
                    <p:inputNumber id="air_flow" value="#{utiViewBean.uti_edit.air_flow}"/>

                    <h:outputText value="Humidificador: "/>
                    <p:selectOneRadio id="humidifier" value="#{utiViewBean.uti_edit.humidifier}" unselectable="true">
                        <f:selectItems value="#{data.afirmaciones}"/>
                    </p:selectOneRadio>

                    <h:outputText value="Humedad Relativa: "/>
                    <p:inputNumber id="rel_air_humidity" value="#{utiViewBean.uti_edit.rel_air_humidity}"/>

                    <h:outputText value="Atm Controlada: "/>
                    <p:selectOneRadio id="atmosphere_control" value="#{utiViewBean.uti_edit.atmosphere_control}" unselectable="true">
                        <f:selectItems value="#{data.afirmaciones}"/>
                    </p:selectOneRadio>

                    <h:outputText value="Oxígeno: "/>
                    <p:inputNumber id="oxygen_level" value="#{utiViewBean.uti_edit.oxygen_level}"/>

                    <h:outputText value="Nitrógeno: "/>
                    <p:inputNumber id="nitrogen_level" value="#{utiViewBean.uti_edit.nitrogen_level}"/>

                    <h:outputText value="Dióxido de Carbono: "/>
                    <p:inputNumber id="carbon_dioxide_level" value="#{utiViewBean.uti_edit.carbon_dioxide_level}"/>

                    <h:outputText value="Instr. Refeer: "/>
                    <p:inputText id="instructions_refeer" value="#{utiViewBean.uti_edit.instructions_refeer}"/>
                </h:panelGrid>

            </p:panelGrid>
            <p:commandButton id="submit_create" value="Añadir" action="#{utiViewBean.addAction}" type="submit" rendered="#{!utiViewBean.isEditingMode()}" >
                <f:param name="listId" value="#{param['listId']}"></f:param>
            </p:commandButton>
            <p:commandButton id="submit_edit" value="Modificar" action="#{utiViewBean.editAction}" type="submit" rendered="#{utiViewBean.isEditingMode()}">
                <f:param name="id" value="#{param['id']}"></f:param>
            </p:commandButton>
        </p:panel>
    </h:form>
</h:body>

</html>